html {
    position: relative;
    min-height: 100%;
}
body  {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /*background-color: #dadada;*/
}
/*
 * Alert
 */
.alert-fixed {
    position: fixed;
    right: 0px;
    z-index: 1050;
}

/*
 * Header
 */
.prb-header {
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1;
    border-bottom: 1px solid #b5b5b5;
    background-color: #ebebeb;
}


/*
 * Sign-in form
 */
.form-signin-main {
    min-width: 400px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
   /* padding: 15px;*/
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Footer
 */
.prb-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*padding: 2.5rem 0;*/
    line-height: 60px;
    text-align: center;
    background-color: #ebebeb;
    border-top: 1px solid #b5b5b5;
}
.prb-footer p:last-child {
    margin-bottom: 0;
}
/*
 * Elements
 */
.tbl-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    margin-right: 5px;
}
.mainframe {
            margin-bottom: 60px;
            padding-bottom: 15px;
            padding-top: 15px;
}
.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-item {
    white-space: nowrap;
}
th {
    white-space: nowrap;
}

.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.text-sm {
    font-size: 0.8rem;
}

a.dropdown-item {padding:0 1.5rem;}

.dropdown-menu {padding-top:.125rem;padding-bottom: .125rem;}

.dropdown-divider {margin:.125rem 0;}

/*.main-data th, .main-data td { max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } */
div.ellipsis, span.ellipsis { max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

div.DTED_Lightbox_Wrapper{position:fixed;top:0;left:5%;margin-left:0;width:90%;height:90%;z-index:11}
.table td::after { font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }