<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Справочник данных планирования - О системе</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <div class="row">
        <div class="col"></div>
        <div class="col text-center"><h3 th:text="${name}"/></div>
        <div class="col"></div>
    </div>
        <div class="alert alert-warning">v0.0.1 alpha</div>

    <h4 class="mt-3">Реализовано:</h4>
        <ul>
            <li>храненине/запись/изменение сущностей</li>
            <li>проверка значений на входе</li>
            <li>главное меню</li>
            <li>авторизация</li>
            <li>сессии</li>
            <li>права доступа</li>
            <li>профиль</li>
        </ul>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>