<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title th:text="${name}"/>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 class="text-center" th:text="${name} +' / '+ ${action}" />
    <table th:object="${entity}" class="table table-sm col-5" style="margin: auto;">
        <tr>
            <th>Добавил</th>
            <td th:text="*{user_add.username}"/>
        </tr>
        <tr>
            <th>Добавлено</th>
            <td th:type="date" th:text="*{date_add}"/>
        </tr>
        <tr>
            <th>Изменил</th>
            <td th:text="*{user_upd.username}"/>
        </tr>
        <tr>
            <th>Изменено</th>
            <td th:type="date" th:text="*{date_upd}"/>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <a class="btn btn-outline-secondary" role="button" th:href="${url}">Закрыть</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>