<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник данных планирования - сессии в БД</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <div class="row"><div class="col"><h3>Сессии в БД</h3></div>
    <div class="col text-center">   <a th:href="@{/sessions}" class="btn btn-success btn-sm mb-2" role="button">Обновить</a></div>
    <div class="col"></div>
</div>
    <table class="table table-striped table-sm col-6" style="margin: auto">
        <thead class="thead-dark">
        <tr>
            <th scope="col">PID</th>
            <th scope="col">START TIME</th>
            <th scope="col">LAST CHANGE</th>
            <th scope="col">APPLICATION_NAME</th>
            <th scope="col">CLIENT_ADDR</th>
            <th scope="col">STATE</th>
            <th scope="col" class="text-center">QUERY</th>
        </tr>
        </thead>
        <tr class="text-sm" th:each="dbsession : ${dbsessions}">
            <td th:text="${dbsession.getpid()}"/>
            <td th:text="${dbsession.getbackend_start()}"/>
            <td th:text="${dbsession.getstate_change()}"/>
            <td th:text="${dbsession.getapplication_name()}"/>
            <td th:text="${dbsession.getclient_addr()}"/>
            <td th:text="${dbsession.getstate()}"/>
            <td th:text="${dbsession.getquery()}"/>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>