<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <th:block th:include="frames/bootstrap"></th:block>
<!--
    <link th:href="@{/resource/css/tabulator.min.css}" rel="stylesheet" media="screen">
-->
    <link th:href="@{/resource/css/tabulator_materialize.min.css}" rel="stylesheet" media="screen">
<!--    <link th:href="@{/resource/css/tabulator_bootstrap4.min.css}" rel="stylesheet" media="screen">-->
<!--    <link th:href="@{/resource/css/tabulator_site.min.css}" rel="stylesheet" media="screen">-->
    <script th:src="@{/resource/js/tabulator.js}"></script>
    <script th:src="@{/resource/js/notify.js}"></script>

</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center"><h3 th:text="${title}"></h3></div>
<!--            <div class="col text-right">  <a th:href="@{/plans/channels/new}" class="btn btn-sm btn-success mb-2" role="button">Создать</a></div>
-->
            <div class="col"></div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <span>Поиск:&nbsp;</span></span><input type="input" id="table-search" data-prevsearch=""/>
            </div>
        </div>

        <div class="col" id="main-data">
        </div>

</div>
<script th:inline="javascript">
    var columnDef = [[${columns}]];
    var dropdowns = [[${dropdowns}]];
    var ajaxurl = [[${ajaxurl}]];
    var columnDef_tab = [];
    columnDef.forEach(function (element) {
        var col = {
            field: element.field,
            title: element.caption,
            visible: !element.hidden,
        };
        // if (dropdowns.hasOwnProperty(element.field)) {
        //     col.formatter = 'lookup';
        //     col.formatterParams = dropdowns[element.field];
        // }
        if (element.isEditable) {
            col.editor = "input";
            if (dropdowns.hasOwnProperty(element.field)) {
                col.editor = "select";
                col.editorParams = dropdowns[element.field];
                col.headerFilter = "select",
                col.headerFilterParams = {values: Object.assign({"": ""}, dropdowns[element.field])};
            }
        }
        if (element.widthPixel) {
            col.width = element.widthPixel;
        }


        columnDef_tab.push(col);
        // do something with obj[key]
    });
    var table;
    var inCellEdited;
    $(document).ready(function () {
        inCellEdited = false;
        table = new Tabulator("#main-data", {
            // height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
            pagination: "remote",
            paginationSize: 5,
            // layout: "fitColumns",
            ajaxSorting: true,
            tooltips: true,
            ajaxFiltering: true,
            ajaxURL: ajaxurl,
            ajaxResponse:function(url, params, response){
                var resp = {};
                var obj = table;
                resp.data = response.content;
                resp.last_page = response.totalPages;
                $("#table-metadata").text("Отображено с " + ((obj.getPage() - 1) * obj.getPageSize() + 1)  + " по " + Math.min.apply(Math, [obj.getPage() * obj.getPageSize(), response.totalElements]) + " из " + response.totalElements);
                return resp;
            },
            ajaxURLGenerator:function(url, config, params){
                console.log(params);
                var sort = [];
                var dir = [];
                var paramstr = [];
                if (params.sorters !== undefined && params.sorters.length > 0) {
                    params.sorters.forEach(function (s) {
                        sort.push(s.field);
                        dir.push(s.dir);
                    });
                    paramstr.push("sort=" + sort.join(','));
                    paramstr.push("dir=" + dir.join(','));
                }
                if (params.page !== undefined ) {
                    paramstr.push("page=" + params.page);
                }
                if (params.size !== undefined ) {
                    paramstr.push("size=" + params.size);
                }
                var search = $('input#table-search').val().trim();
                if (search.length < 3) {
                    search = "";
                }
                if (search.length) {
                    paramstr.push("search=" + encodeURIComponent(search));
                }
                if (paramstr.length) {
                    url += '?' + paramstr.join('&');
                }
                return url;
            },
            paginationSizeSelector: [ 5, 10, 15, 20],
            index: "id",
            // layout:"fitColumns", //fit columns to width of table (optional)
            columns: columnDef_tab,
            ajaxConfig: "GET",
            selectable: true,
            footerElement:"<div class='tabulator-footer'><span id='table-metadata'></span></div>",
            cellEdited: function(cell){
                if (inCellEdited) return;
                inCellEdited = true;
                var newValue = cell._cell.value;
                var column = cell._cell.column;
                var row = cell._cell.row;
                var oldValue = cell._cell.oldValue;
                var displayedValue = cell._cell.oldValue;
                var data = {};
                if (column.definition.editor == "select") {
                    if (column.definition.editorParams !== undefined && column.definition.editorParams[newValue] !== undefined) {
                        data[column.field] = newValue;
                        displayedValue = column.definition.editorParams[newValue];
                    }
                }
                else if (column.definition.editor == "input")
                {
                    data[column.field] = newValue;
                    displayedValue = newValue;
                }
                if (! $.isEmptyObject(data)) {
                    cell.setValue('...');
                    $.ajax(ajaxurl + '/../edit/' + row.data['id'], {
                        method: 'PATCH',
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                    }).done(function (data) {
                        if (data.status == 'ok') {
                            data[column.field] = displayedValue;
                            cell.setValue(displayedValue);
                            $.notify("Успешно изменено", "success");
                        } else if (data.status == 'error') {
                            data[column.field] = oldValue;
                            cell.setValue(oldValue);
                            $.notify("Ошибка: (" + data.class + ") " + data.message, "error");
                        }

                    }).fail(function () {
                        data[column.field] = oldValue;
                        cell.setValue(oldValue);
                        $.notify("Ошибка сервера", "error");
                    }).always(function() {
                        inCellEdited = false;
                    });
                }
            },
        });

        $('input#table-search').keyup(function () {
            var prevsearch = $(this).attr('data-prevsearch');
            var newsearch = $(this).val().trim();
            if (newsearch.length < 3) {
                newsearch = "";
            }
            if (prevsearch != newsearch) {
                table.setData();
                $(this).attr('data-prevsearch', newsearch);
            }

        });
    });
</script>
<th:block th:include="frames/footer"></th:block>
</body>
</html>