<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <th:block th:include="frames/bootstrap"></th:block>
<!--
    <link th:href="@{/resource/css/tabulator.min.css}" rel="stylesheet" media="screen">
-->
<!--    <link th:href="@{/resource/css/jquery.dataTables.css}" rel="stylesheet" media="screen">-->
    <link th:href="@{/resource/css/dataTables.bootstrap4.css}" rel="stylesheet" media="screen">
    <link th:href="@{/resource/css/buttons.bootstrap4.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/resource/css/select.bootstrap4.min.css}" rel="stylesheet" media="screen">

<!--    <link th:href="@{/resource/css/editor.dataTables.css}" rel="stylesheet" media="screen">-->
<!--    <link th:href="@{/resource/css/editor.bootstrap4.css}" rel="stylesheet" media="screen">-->
<!--    <link th:href="@{/resource/css/editor.dataTables.min.css}" rel="stylesheet" media="screen">-->
<!--    <link th:href="@{/resource/css/editor.bootstrap4.min.css}" rel="stylesheet" media="screen">-->
<!--
    <link th:href="@{/resource/css/tabulator_bootstrap4.min.css}" rel="stylesheet" media="screen">
-->

    <script th:src="@{/resource/js/jquery.dataTables.js}"></script>
    <script th:src="@{/resource/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/resource/js/dataTables.buttons.js}"></script>
    <script th:src="@{/resource/js/buttons.bootstrap4.js}"></script>
    <script th:src="@{/resource/js/dataTables.select.js}"></script>
    <script th:src="@{/resource/js/select.bootstrap4.js}"></script>

    <script th:src="@{/resource/js/dataTables.altEditor.free.js}"></script>

<!--    <script th:src="@{/resource/js/dataTables.editor.js}"></script>-->
<!--    <script th:src="@{/resource/js/editor.bootstrap4.js}"></script>-->

    <!--    <script th:src="@{/resource/js/dataTables.editor.min.js}"></script>-->
<!--    <script th:src="@{/resource/js/editor.bootstrap4.min.js}"></script>-->
    <script th:src="@{/resource/js/ellipsis-span.js}"></script>
    <script th:src="@{/resource/js/notify.js}"></script>

</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
        <div class="row">
            <div class="col"><h3 th:text="${title}"></h3></div>
            <div class="col text-center">  <a th:href="@{/plans/channels/new}" class="btn btn-sm btn-success mb-2" role="button">Создать</a></div>
            <div class="col"></div>
        </div>

<!--        <div class="row mb-1">-->
<!--            <div class="col">-->
<!--                <span>Поиск:&nbsp;</span></span><input type="input" id="table-search" data-prevsearch=""/>-->
<!--            </div>-->
<!--        </div>-->

        <table id="main-data" class="table main-data display nowrap" >
        </table>

</div>
<script th:inline="javascript">
    var columnDef = [[${columns}]];
    var editableColumns = [[${editableColumns}]];
    var dropdowns = [[${dropdowns}]];
    var ajaxurl = [[${ajaxurl}]];
    var columnDef_dt = [];
    var columnDef_dteditor = [];
    var table;
    var colObj = {};

    // Empty column for checkbos selection
    // columnDef_dt.push({
    //     defaultContent: "",
    //     data: null,
    //     orderable: false,
    //     className: 'select-checkbox',
    //     type: 'hidden',
    // });

    function renderFromDropdown ( d, type, row, meta ) {
        // Order, search and type get the original data
        if ( type !== 'display' || ( typeof d !== 'number' && typeof d !== 'string' ) ) {
            return d;
        }
        var fieldName = columnDef[meta.col]['field'];
        if (dropdowns.hasOwnProperty(fieldName)) {
            return dropdowns[fieldName][d];
        }
        return d;
    }


    columnDef.forEach(function (element) {
        var col = {data: element.field,
            name: element.field,
            title: element.caption,
            visible: !element.hidden,
            type: 'text',
        };
        if (dropdowns.hasOwnProperty(element.field)) {
            col.render = renderFromDropdown;
        }
        else {
            col.render = $.fn.dataTable.render.ellipsis();
        }

        if (element.width) {
            col.width = element.width;
        }
        if (!element.isEditable) {
            col.readonly = true;
        }




        if (element.isEditable) {
            var coledit = {
                label: element.caption + ":",
                name: element.field,
            };
            if (dropdowns.hasOwnProperty(element.field)) {
                coledit.type = "select";
                coledit.options = Object.keys(dropdowns[element.field])
                    .map(function(x) { return {label: dropdowns[element.field][x], value: x}; });
                col.type =  "select";
                col.options = dropdowns[element.field];
            }

            columnDef_dteditor.push(coledit);
        }
        columnDef_dt.push(col);
        colObj[col.name] = col;
        // do something with obj[key]
    });
    var inCellEdited;
    var editor;




    $(document).ready(function () {
        // editor = new $.fn.dataTable.Editor({
        //     ajax: function(method, url, data, success, error) {
        //         method = null;
        //         var count = 0;
        //         var ajaxdata;
        //         Object.keys(data).forEach(function(key) {
        //             switch (data.action) {
        //                 case "delete":
        //                     method = "DELETE";
        //                     url = './' + key;
        //                     ajaxdata = null;
        //                     break;
        //                 case "create":
        //                     method = "POST";
        //                     url = '.';
        //                     ajaxdata = data[key];
        //                     break;
        //                 default:
        //                     error(null, "not supported", "error");
        //                     return;
        //             }
        //             $.ajax({
        //                 method: method,
        //                 url: url,
        //                 data: ajaxdata,
        //             })
        //                 .always(function() {
        //                     count -= 1;
        //                     if (count <= 0) {
        //                         success("{}");
        //                     }
        //                 });
        //             count += 1;
        //
        //
        //         });
        //
        //
        //     },
        //     idSrc: "id",
        //     table: "#main-data",
        //     fields: columnDef_dteditor,
        // });

        $('#main-data').DataTable({
            dom: 'B<"clear">frptpil',
            paging: true,
            serverSide: true,
            lengthMenu: [ 2, 5, 10, 30 ],
            pageLength: 5,
            processing: true,
            altEditor: true,     // Enable altEditor
            rowId: "id",
            columns: columnDef_dt,
            ordering: true,
            order: [],
            searchDelay: 600,
            select: {
                style:    'single',
            },
            scrollX: true,
            // buttons: [
            //     { extend: 'create', editor: editor, text: 'Создать' },
            //     { extend: 'edit',   editor: editor, text: 'Изменить' },
            //     { extend: 'remove', editor: editor, text: 'Удалить' },
            // ],
            buttons: [
                { name: 'add', editor: editor, text: 'Создать' },
                { extend: 'selected', name: 'edit', text: 'Изменить' },
                { extend: 'selected', name: 'delete', text: 'Удалить' },
                { name: 'refresh', text: 'Обновить' },
                { extend: 'selected', name: 'rules_editor', text: 'Редактор правил',
                    action: function (e, dt, node, config ) {
                        var rowData = dt.row( { selected: true } ).data();
                        var url = "../rules/indid/" + rowData['id'];
                        window.location.href = url;
                    }},
            ],
            onAddRow: function (alteditor, rowdata, success, error) {
                var data = {};
                Object.keys(rowdata).forEach(function (value) {
                    if (colObj.hasOwnProperty(value) && !colObj[value].readonly) {
                        data[value] = rowdata[value];
                    }
                });
                $.ajax({
                    url: ajaxurl + '/../add',
                    method: 'POST',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                }).done(function (data) {
                    if (data.hasOwnProperty('status') && data.status === 'ok') {
                        success(rowdata);
                    } else {
                        error();
                    }
                }).fail(function (data) {
                    error();
                });
            },
            onEditRow: function (alteditor, rowdata, success, error) {
                var data = {};
                Object.keys(rowdata).forEach(function (value) {
                    if (colObj.hasOwnProperty(value) && !colObj[value].readonly) {
                        data[value] = rowdata[value];
                    }
                });
                $.ajax({
                    url: ajaxurl + '/../edit/' + rowdata['id'],
                    method: 'PUT',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                }).done(function (data) {
                    if (data.hasOwnProperty('status') && data.status === 'ok') {
                        success(rowdata);
                    } else {
                        error();
                    }
                }).fail(function (data) {
                    error();
                });
            },
            onDeleteRow: function (alteditor, rowdata, success, error) {
                $.ajax({
                    url: ajaxurl + '/../delete/' + rowdata['id'],
                    method: 'DELETE',
                    contentType: "application/json",
                }).done(function (data) {
                    if (data.hasOwnProperty('status') && data.status === 'ok') {
                        success(rowdata);
                    } else {
                        error();
                    }
                }).fail(function (data) {
                    error();
                });
            },
            ajax: {
                url: ajaxurl,
                type: "GET",
                dataType: 'json',
                data: function (d) {
                    var a = {};
                    if (d.length) {
                        a.page = d.start / d.length + 1;
                        a.size = d.length;
                        a.draw = d.draw;
                    }
                    if (d.hasOwnProperty('search')) {
                        a.search = d.search.value;
                    }
                    if (d.hasOwnProperty('order')) {
                        if (d.order.length > 0) {
                            a.sort = d.columns[d.order[0].column].name;
                            a.dir = d.order[0].dir;
                        }
                    }
                    return a;
                },
            },

        });

    });
</script>
<th:block th:include="frames/footer"></th:block>
</body>
</html>