<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset UTF-8">
    <title>Загрузка Excel</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <span sec:authorize="hasAuthority('GOAL')">ADMIN<br><br></span>
<form method="POST" enctype="multipart/form-data" th:action="${resetUrl}">
    <input type="file" name="file" accept=".xls,.xlsx" />

    <select  th:if="${units}" name="excel_type">
        <option value="" disabled selected> Выберите роль </option>
        <option th:each="unit : ${units}"
                th:value="${unit.id}"
                th:utext="${unit.name}"/>
    </select>

    <input type="submit" value="Загрузить файл" />

</form>
<br />
<br /> <span th:utext="${message}"></span>
<br />

<!--div th:if="${data}">
    <table style="border: 1px solid black; border-collapse: collapse;">
                <tr th:each="row:${data}" >
                        <td th:each="cell:${row.value}" style="border:1px solid black;height:20px;width:100px;">
                        <span th:utext="${cell.content}"></span>
                    </td>
            </tr>
    </table>
</div-->

</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>