<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цели</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center"><h3 th:text="${name}"/></div>
            <div class="col text-right">  <a th:href="@{/goals/new}" class="btn btn-sm btn-success mb-2" role="button">Создать</a></div>
        </div>

    <table class="table table-striped table-sm col-8" style="margin: auto">
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="${fieldNames.get('id')}">
            <th scope="col" th:text="${fieldNames.get('descr')}">
            <th scope="col" th:text="${fieldNames.get('unit')}">
            <th scope="col" th:text="${fieldNames.get('vl')}">
            <th scope="col">Действия</th>
        </tr>
<!--        <tr>
            <th scope="col">ID</th>
            <th scope="col">Описание</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Значение</th>
            <th scope="col">Добавил</th>
            <th scope="col">Создано</th>
            <th scope="col">Изменил</th>
            <th scope="col">Изменено</th>
            <th scope="col">Действия</th>
        </tr>
-->
        </thead>
        <tbody>
        <tr th:each="goal : ${goals}">
            <td th:text="${goal.id}"/>
            <td th:text="${goal.descr}"/>
            <td th:text="${goal.unit.name}"/>
            <td th:text="${goal.vl}"/>
<!--            <td th:text="${goal.user_add.username}"/>
            <td th:type="date" th:text="${goal.date_add}"/>
            <td th:text="${goal.user_upd.username}"/>
            <td th:type="date" th:text="${goal.date_upd}"/>
!-->            <td>
                <div class="btn-group dropdown-menu-right text-center">
                    <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                        <a class="dropdown-item" th:href="@{'/goals/edit/' + ${goal.id}}" ><i class="tbl-icon" data-feather="edit"></i>Изменить</a>
                        <a class="dropdown-item" th:href="@{'/goals/info/' + ${goal.id}}" ><i class="tbl-icon" data-feather="info"></i>Аудит</a>
                        <a class="dropdown-item  text-danger" th:href="@{'/goals/delete/' + ${goal.id}}"><i class="tbl-icon text-danger" data-feather="trash-2"></i>Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>