<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 class="text-center" th:text="${name}" />
    <form method="POST" th:action="@{/goals}" th:object="${goal}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>Описание</th>
                <td><input type="text" name="descr" th:field="*{descr}" th:value="*{descr}" /></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}">Name Error</td>
            </tr>
            <tr>
                <th>Значение</th>
                <td><input type="number" step=".01" name="vl" th:field="*{vl}" th:value="*{vl}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('vl')}" th:errors="*{vl}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" type="submit" th:value="${action}" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/goals}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>