<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник данных планирования - Профиль</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3>Профиль пользователя <span th:text="${currentUser.username}"/></h3>
    <b>Роли пользователя:</b>
    <table class="table table-striped table-sm  col-4">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Код</th>
        </tr>
        </thead>
        <tr th:each="role : ${currentUserRoles}">
            <td th:text="${role.id}">..</td>
            <td th:text="${role.name}">..</td>
            <td th:text="${role.fullname}">..</td>
        </tr>
    </table>
    <br>
    <b>Роли с учетом наследования:</b>
    <table class="table table-striped table-sm col-3">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>PARENT_ID</th>
            <th>Название</th>
            <th>Код</th>
        </tr>
        </thead>
        <tr th:each="auth : ${userAuthorities}">
            <td th:text="${auth.id}"/>
            <td th:text="${auth.parent_id}"/>
            <td th:text="${auth.name}"/>
            <td th:text="${auth.fullname}"/>
        </tr>
    </table>
    <br>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>