<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/roles}" th:object="${role}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>Роль</th>
                <td><input type="text" name="id" th:field="*{rolename}" th:value="*{rolename}"/></td>
            </tr>
            <tr>
                <th>Полное имя</th>
                <td><input type="text" name="id" th:field="*{fullname}" th:value="*{fullname}" readonly></td>
            </tr>
            <tr>
                <th>Структура</th>
                <td>
                    <select th:field="*{unit}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.unitname}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Полномочия</th>
                <td>
                    <select th:field="*{permission}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="permission : ${permissions}"
                                th:value="${permission.id}"
                                th:utext="${permission.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Родительская роль</th>
                <td>
                    <select th:field="*{parent_id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="parent : ${parents}"
                                th:value="${parent.id}"
                                th:utext="${parent.fullname}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/roles}">Отмена</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>