<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Роли</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <div class="row">
        <div class="col"><h3>Роли</h3></div>
        <div class="col text-center text-nowrap"><a th:href="@{/roles/new}" class="btn btn-sm btn-success mb-2" role="button">Создать</a></div>
        <div class="col"></div>
    </div>

    <table class="table table-striped table-sm col-6" style="margin: auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Роль</th>
            <th scope="col">Группа</th>
            <th scope="col">Блок</th>
            <th scope="col">Права</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.getId()}">
            <td th:text="${role.getRolename()}"/>
            <td th:text="${role.getFullname()}"/>
            <td th:text="${role.getUnit().getUnitname()}"/>
            <td th:text="${role.getPermission().getName()}"/>
            <td>
                <div class="btn-group dropright">
                    <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                        <a class="dropdown-item" th:href="@{'/roles/edit/' + ${role.id}}" >
                            <i class="tbl-icon" data-feather="edit"></i>Изменить</a>
                        <a class="dropdown-item  text-danger" th:href="@{'/roles/delete/' + ${role.id}}">
                            <i class="tbl-icon text-danger" data-feather="trash-2"></i>Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>