<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подразделения</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <div class="row">
        <div class="col"><h3>Подразделения</h3></div>
        <div class="col text-nowrap text-center"><a th:href="${'/unit_t/new'}" class="btn btn-success btn-sm mb-2" role="button">Создать</a>
            <!--a th:href="${'/unit_t/excelExport'}" role="button" id="export_file" class="btn btn-success btn-sm mb-2 ml-2">Выгрузить</a-->
            <button class="btn btn-success btn-sm mb-2 ml-2"  data-toggle="modal" data-target="#downloadModal">Выгрузить</a>
            <button class="btn btn-success btn-sm mb-2 ml-2"  data-toggle="modal" data-target="#uploadModal">Загрузить</a>
        </div>
        <div class="col"></div>
    </div>

    <th:block th:include="frames/fileUploadModal"></th:block>
    <th:block th:include="frames/fileDownloadModal"></th:block>
            <table class="table table-striped table-sm col-6" style="margin: auto;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Короткое имя</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="unit : ${units}">
                    <td th:text="${unit.id}"/>
                    <td th:text="${unit.name}"/>
                    <td th:text="${unit.shortname}"/>
                    <td>
                        <div class="btn-group dropright">
                            <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                            <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                                <a class="dropdown-item" th:href="@{'/unit_t/edit/' + ${unit.id}}" ><i class="tbl-icon" data-feather="edit"></i>Изменить</a>
                                <a class="dropdown-item  text-danger" th:href="@{'/unit_t/delete/' + ${unit.id}}"><i class="tbl-icon text-danger" data-feather="trash-2"></i>Удалить</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Вверх" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>