<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/unit_t}" th:object="${unit}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}"/>
                </td>
            </tr>
            <tr>
                <th>Наименование</th>
                <td><input type="text" name="descr" th:field="*{name}" th:value="*{name}" /></td>
            </tr>
            <tr>
                <th>Короткое имя</th>
                <td><input type="text" name="vl" th:field="*{shortname}" th:value="*{shortname}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/unit_t}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>