<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/users}" th:object="${user}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>Имя</th>
                <td><input type="text" name="username" th:field="*{username}" th:value="*{username}"/></td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td><input type="password" name="newPassword" placeholder="установить пароль"/></td>
            </tr>
            <!-- rights block -->
            <tr>
                <th>Права</th>
                <td>
                    <select multiple th:field="*{roles}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="role : ${roles}"
                                th:value="${role.id}"
                                th:utext="${role.fullname}"/>
                    </select>
                </td>
            </tr>
            <!-- /rights block -->
            <tr>
                <th>Включен</th>
                <td>
                    <select th:field="*{enabled}">
                        <option value="true">Да</option>
                        <option value="false">Нет</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/users}">Отмена</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>