<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник данных планирования - Пользователи</title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <div class="row">
        <div class="col"><h3>Пользователи</h3></div>
        <div class="col text-center text-nowrap"> <a th:href="@{/users/new}" class="btn btn-sm btn-success  mb-2" role="button">Создать</a></div>
        <div class="col"></div>
    </div>
    <table class="table table-striped table-sm col-4"  style="margin: auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Права</th>
            <th scope="col">Активен</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td>
                <span th:each="role : ${user.roles}">
                  <span th:text="${role.fullname}"></span><br>
                </span>
            </td>
            <td th:text="${user.isEnabledStr()}"/>
            <td>
                <div class="btn-group dropright">
                    <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                        <a class="dropdown-item" th:href="@{'/users/edit/' + ${user.id}}" ><i class="tbl-icon" data-feather="edit"></i>Изменить</a>
                        <a class="dropdown-item  text-danger" th:href="@{'/users/delete/' + ${user.id}}"><i class="tbl-icon text-danger" data-feather="trash-2"></i>Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html><!--td><a th:href="${'/user/edit/' + item.key.id}">Изменить</a></td>
<td><a th:href="${'/user/delete/' + item.key.id}">Удалить</a></td-->