<link rel="icon" th:href="@{/resource/img/favicon.ico}">
<link th:href="@{/resource/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen">
<link th:href="@{/resource/css/fontawesome.all.css}" rel="stylesheet" type="text/css">

<script th:src="@{/resource/jquery/jquery.min.js}"></script>
<script th:src="@{/resource/popper/popper.min.js}"></script>
<script th:src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/js/feather.min.js}"></script>
<script th:src="@{/resource/js/custom.js}"></script>

<!--Custom CSS-->
<link th:href="@{/resource/css/custom.css}" rel="stylesheet" media="screen">
<!-- ----------- -->