<!-- Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalLabel">Выгрузка в Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="exptExcelSave" enctype="multipart/form-data" th:action="${export_excel_url}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя файла</span>
                        </div>
                        <input name="filename" type="text" aria-label="Имя файла" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">.xlsx</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Название листа</span>
                        </div>
                        <input name="sheetname" type="text" aria-label="Название листа" class="form-control">

                    </div>

                    <!--input type="file" class="form-control-file" id="downloadFile"-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="expt_button" type="submit" class="btn btn-success">Выгрузить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#exptExcelSave").on('submit', function (e) {
        this.submit();
        $('#downloadModal').modal('hide');
    });
</script>
<!--/Modal-->
