<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Загрузка Excel файла</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" th:action="${excel_url}">
                    <div class="form-group">
                        <div class="input-group input-file" name="file" id="file">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-choose" type="button">Файл</button>
                                </span>
                            <input type="text" class="form-control" placeholder='Выберите файл...' />
                            <span class="input-group-btn">
       			                     <button class="btn btn-danger btn-reset" type="button">Сброс</button>
    		                    </span>
                        </div>
                    </div>
                    <!--input type="file" class="form-control-file" id="uploadFile"-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-success">Загрузить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/Modal-->