<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarMain">
        <div class=" p-0" style="width:225px"><a th:href="@{/main}"><img class="pb-1" src="/resource/img/check.png" alt="" width="37" height="35"><span class="navbar-brand mb-0 h1">АС Планирование</span></a></div>
        <div class="mx-auto" style="max-width: 100%">
            <ul  th:if="${#request.userPrincipal} != null"  class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="testDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Тестовые</a>
                    <div class="dropdown-menu" aria-labelledby="testDropdown">
                        <a class="dropdown-item" th:href="@{/goals}">Цели</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/unit_t}">Тест excel</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="IndDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Показатели</a>
                    <div class="dropdown-menu" aria-labelledby="IndDropdown">
                        <a class="dropdown-item" th:href="@{/plans/ind}">Показатели</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/plans/exec}">Типы показателей выполнения</a>
                        <a class="dropdown-item" th:href="@{/plans/measures}">Меры показателей</a>
                        <a class="dropdown-item" th:href="@{/plans/aggregate}">Типы агр. показатели</a>
                        <a class="dropdown-item" th:href="@{/plans/levels}">Уровни детализации показателей</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="CalcsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">План</a>
                    <div class="dropdown-menu" aria-labelledby="CalcsDropdown">
                        <a class="dropdown-item" th:href="@{/plans/sales}">План</a>
                        <a class="dropdown-item" th:href="@{/plans/saleshistory}">План ист.</a>
                        <a class="dropdown-item" th:href="@{/plans/salesversions}">План вер.</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="RulesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Правила</a>
                    <div class="dropdown-menu" aria-labelledby="RulesDropdown">
                        <a class="dropdown-item" th:href="@{/plans/rules}">Правила</a>
                        <a class="dropdown-item" th:href="@{/plans/properties}">Свойства правил</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="dicDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Справочники</a>
                    <div class="dropdown-menu" aria-labelledby="dicDropdown">
                        <a class="dropdown-item" th:href="@{/plans/dicgoals}">Цели</a>
                        <a class="dropdown-item" th:href="@{/plans/indscales}">Шкалы</a>
                        <a class="dropdown-item" th:href="@{/plans/scales}">Шкалы целей</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/plans/segments}">Сегменты клиентов</a>
                        <a class="dropdown-item" th:href="@{/plans/periods}">Типы периодов</a>
                        <a class="dropdown-item" th:href="@{/plans/channels}">Каналы продаж</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/plans/products}">Продукты</a>
                        <a class="dropdown-item" th:href="@{/plans/groups}">Группы продуктов</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/plans/structure}">Структура</a>
                        <a class="dropdown-item" th:href="@{/plans/structuretype}">Типы структуры</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/plans/responsible}">Ответственные лица</a>
                        <a class="dropdown-item" th:href="@{/plans/layers}">Слои</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="AdmDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрирование</a>
                    <div class="dropdown-menu" aria-labelledby="AdmDropdown">
                        <a class="dropdown-item" th:href="@{/users}"><i class="tbl-icon" data-feather="users"></i>Пользователи</a>
                        <a class="dropdown-item" th:href="@{/roles}"><i class="tbl-icon" data-feather="layers"></i>Роли</a>
                        <a class="dropdown-item" th:href="@{/sessions}"><i class="tbl-icon" data-feather="database"></i>Сессии</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/about}">О системе</a>
                </li>
            </ul>
        </div>
        <div class=" p-0 float-right" style="width:250px">
            <ul th:if="${#request.userPrincipal} != null" class="navbar-nav float-right">
                <form  th:action="@{/logout}" method="post" id="logoutForm" class="form-inline float-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="UserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${currentUser.username}"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="UserDropdown">
                            <a class="dropdown-item" th:href="@{/profile}"><i class="tbl-icon" data-feather="user"></i>Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " onclick="document.getElementById('logoutForm').submit();" href="#"><i class="tbl-icon" data-feather="log-out"></i>Выйти</a>
                    </div>
                </li></form>
            </ul>
            <span th:if="${#request.userPrincipal} == null" class=" float-right">
                <a class="btn btn-sm btn-outline-secondary text-white" th:action="@{/login}" role="button">Авторизация</a>
            </span>
        </div>
    </div>
</nav>
<th:block th:include="frames/message"/>
