<div th:if="${systemMessage} != null" class="alert alert-info  alert-dismissible fade show alert-fixed w-75 shadow-sm" role="alert" id="message-alert">
    <i class="tbl-icon text-secondary" data-feather="mail"></i>
    <span th:text="${systemMessage}"/>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<script th:if="${systemMessage} != null">$(document).ready(function() { $("#message-alert").fadeTo(5000, 500).slideUp(500, function() {$("#message-alert").slideUp(500);})})</script>
<div th:if="${errorMessage} != null" class="alert alert-danger alert-dismissible fade show alert-fixed w-75 shadow-sm" role="alert" id="error-alert">
    <i class="tbl-icon text-danger" data-feather="alert-triangle"></i>
    <span th:text="${errorMessage}"/>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<script th:if="${errorMessage} != null">$(document).ready(function() { $("#error-alert").fadeTo(5000, 500).slideUp(500, function() {$("#error-alert").slideUp(500);})})</script>



