<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dicgoals </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
        <div class="row">
            <div class="col"><h3>dicgoals </h3></div>
            <div class="col text-center">  <a th:href="@{/plans/dicgoals/new}" class="btn btn-sm btn-success mb-2" role="button">Создать</a></div>
            <div class="col"></div>
        </div>

    <table class="table table-striped table-sm col-8" style="margin: auto">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ind_rule_id</th>
            <th scope="col">division_code</th>
            <th scope="col">goal_date</th>
            <th scope="col">goal_weight</th>
            <th scope="col">goal_owner_sap_post_id</th>
            <th scope="col">goal_owner_sap_post_name</th>
            <th scope="col">goal_owner_sap_div_id</th>
            <th scope="col">goal_owner_sap_div_name</th>
            <th scope="col">multiplier_code</th>
            <th scope="col">goal_comments</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Добавил</th>
            <th scope="col">Создано</th>
            <th scope="col">Изменил</th>
            <th scope="col">Изменено</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${dicgoals}">
            <td th:text="${item.id}">..</td>
            <td th:text="${item.ind_rule_id}">..</td>
            <td th:text="${item.division_code}">..</td>
            <td th:type="date" th:text="${item.goal_date}">..</td>
            <td th:text="${item.goal_weight}">..</td>
            <td th:text="${item.goal_owner_sap_post_id}">..</td>
            <td th:text="${item.goal_owner_sap_post_name}">..</td>
            <td th:text="${item.goal_owner_sap_div_id}">..</td>
            <td th:text="${item.goal_owner_sap_div_name}">..</td>
            <td th:text="${item.multiplier_code}">..</td>
            <td th:text="${item.goal_comments}">..</td>
            <td th:text="${item.unit.name}">..</td>
            <td th:text="${item.user_add.username}"/>
            <td th:type="date" th:text="${item.date_add}"/>
            <td th:text="${item.user_upd.username}"/>
            <td th:type="date" th:text="${item.date_upd}"/>
            <td>
                <div class="btn-group dropright">
                    <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                        <a class="dropdown-item" th:href="@{'/plans/dicgoals/edit/' + ${item.id}}" ><i class="tbl-icon" data-feather="edit"></i>Изменить</a>
                        <a class="dropdown-item  text-danger" th:href="@{'/plans/dicgoals/delete/' + ${item.id}}"><i class="tbl-icon text-danger" data-feather="trash-2"></i>Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>