<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/dicgoals}" th:object="${dicgoals}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>ind_rule_id</th>
                <td><input type="number" name="ind_rule_id" th:field="*{ind_rule_id}" th:value="*{ind_rule_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_rule_id')}" th:errors="*{ind_rule_id}">Name Error</td>
            </tr>
            <tr>
                <th>division_code</th>
                <td><input type="text" name="division_code" th:field="*{division_code}" th:value="*{division_code}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('division_code')}" th:errors="*{division_code}">Name Error</td>
            </tr>
            <tr>
                <th>goal_date</th>
                <td><input type="date" name="goal_date" th:field="*{goal_date}" th:value="*{goal_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_date')}" th:errors="*{goal_date}">Name Error</td>
            </tr>
            <tr>
                <th>goal_weight</th>
                <td><input type="number" name="goal_weight" step=".01" th:field="*{goal_weight}" th:value="*{goal_weight}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_weight')}" th:errors="*{goal_weight}">Name Error</td>
            </tr>
            <tr>
                <th>goal_owner_sap_post_id</th>
                <td><input type="number" name="goal_owner_sap_post_id" th:field="*{goal_owner_sap_post_id}" th:value="*{goal_owner_sap_post_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_owner_sap_post_id')}" th:errors="*{goal_owner_sap_post_id}">Name Error</td>
            </tr>
            <tr>
                <th>goal_owner_sap_post_name</th>
                <td><input type="text" name="goal_owner_sap_post_name" th:field="*{goal_owner_sap_post_name}" th:value="*{goal_owner_sap_post_name}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_owner_sap_post_name')}" th:errors="*{goal_owner_sap_post_name}">Name Error</td>
            </tr>
            <tr>
                <th>goal_owner_sap_div_id</th>
                <td><input type="number" name="goal_owner_sap_div_id" th:field="*{goal_owner_sap_div_id}" th:value="*{goal_owner_sap_div_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_owner_sap_div_id')}" th:errors="*{goal_owner_sap_div_id}">Name Error</td>
            </tr>
            <tr>
                <th>goal_owner_sap_div_name</th>
                <td><input type="text" name="goal_owner_sap_div_name" th:field="*{goal_owner_sap_div_name}" th:value="*{goal_owner_sap_div_name}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_owner_sap_div_name')}" th:errors="*{goal_owner_sap_div_name}">Name Error</td>
            </tr>
            <tr>
                <th>multiplier_code</th>
                <td><input type="text" name="multiplier_code" th:field="*{multiplier_code}" th:value="*{multiplier_code}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('multiplier_code')}" th:errors="*{multiplier_code}">Name Error</td>
            </tr>
            <tr>
                <th>goal_comments</th>
                <td><input type="text" name="goal_comments" th:field="*{goal_comments}" th:value="*{goal_comments}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_comments')}" th:errors="*{goal_comments}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/dicgoals}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>