<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/ind}" th:object="${ind}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>ind_code</th>
                <td><input type="number" name="ind_code" th:field="*{ind_code}" th:value="*{ind_code}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_code')}" th:errors="*{ind_code}">Name Error</td>
            </tr>
            <tr>
                <th>ind_name</th>
                <td><input type="text" name="ind_name" th:field="*{ind_name}" th:value="*{ind_name}" /></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_name')}" th:errors="*{ind_name}">Name Error</td>
            </tr>
            <tr>
                <th>ind_short_name</th>
                <td><input type="text" name="ind_short_name" th:field="*{ind_short_name}" th:value="*{ind_short_name}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_short_name')}" th:errors="*{ind_short_name}">Name Error</td>
            </tr>
            <tr>
                <th>ind_sale_channel_id</th>
                <td>
                    <select th:field="*{channel}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${channels}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_client_segment_id</th>
                <td>
                    <select th:field="*{segment}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${segments}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_product_group_id</th>
                <td>
                    <select th:field="*{group}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${groups}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_product_id</th>
                <td>
                    <select th:field="*{product}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${products}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_exec_type_id</th>
                <td>
                    <select th:field="*{exec}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${execs}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_aggr_type_id</th>
                <td>
                    <select th:field="*{aggregate}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${aggregates}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ind_measure_id</th>
                <td>
                    <select th:field="*{measure}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="c : ${measures}"
                                th:value="${c.id}"
                                th:utext="${c.list_short_value}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Блок</th>
                <td>
                    <select th:field="*{unit}">
                        <option value="" disabled selected> Выберите </option>
                        <option th:each="u : ${units}"
                                th:value="${u.id}"
                                th:utext="${u.unitname}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/ind}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>