<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ind_rules</title>
    <th:block th:include="frames/bootstrap"></th:block>
    <script type="text/javascript" th:src="@{/resource/js/views/indrules.js}"></script>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">

    <div class="row mb-3">
        <div class="col"></div>
        <div class="col text-center"><h3>Редактор правил</h3></div>
        <div class="col"></div>
    </div>

    <div class="row mb-3">
        <div class="col"></div>
    <table id="rulesTable" class="table table-hover table-sm col-9">
        <caption style="caption-side: top">
            <button class="btn btn-sm btn-outline-success" role="button" id="addRuleBtn">Создать</button>
            <button class="btn btn-sm btn-outline-primary" role="button" id="addRuleTemplBtn">Создать из шаблона</button>
            <input type="hidden" id="inputIndId" th:value="${indid}">
        </caption>
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ид показателя</th>
            <th scope="col">Типа периода</th>
            <th scope="col">Уровень детализации</th>
            <th scope="col">Добавил</th>
            <th scope="col">Создано</th>
            <th scope="col">Изменил</th>
            <th scope="col">Изменено</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:data-period-id="${item.period.id}" th:data-level-id="${item.level.id}" th:each="item : ${ind_rules}">
            <td th:text="${item.id}">..</td>
            <td th:text="${item.ind.ind_code}">..</td>
            <td th:text="${item.period.list_short_value}">..</td>
            <td th:text="${item.level.list_short_value}">..</td>
            <td th:text="${item.user_add.username}"/>
            <td th:type="date" th:text="${item.date_add}"/>
            <td th:text="${item.user_upd.username}"/>
            <td th:type="date" th:text="${item.date_upd}"/>
            <td>
                <div class="btn-group dropright">
                    <button class="btn btn-link btn-sm text-dark" type="button" id="dropEditBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tbl-icon" data-feather="menu"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropEditBtn">
                        <span class="dropdown-item editRule" style="cursor: pointer"><i class="far fa-edit"></i> Изменить</span>
                        <span class="dropdown-item editRuleScale" style="cursor: pointer"><i class="fas fa-balance-scale-left"></i> Шкалы</span>
                        <span class="dropdown-item text-danger deleteRule" style="cursor: pointer"><i class="far fa-trash-alt"></i> Удалить</span>
                        <input type="hidden" id="RuleId" th:value="${item.id}">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="col"></div>

<!-- SaveList Rule Modal HTML -->
<div id="rulematrixModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rulematrixModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Создание правил</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x: auto;">
                <table id="rulematrix" class="table table-bordered table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" style="cursor: default;">Матрица правил</th>
                        <th class="text-center rulematrixcolumns" style="min-width: 52px; cursor: pointer;" scope="col" th:each="ind_periods_type : ${ind_periods_types}"
                            th:text="${ind_periods_type.list_short_value}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer;" th:each="ind_detal_level : ${ind_detal_levels}">
                        <th scope="row" class="rulematrixrows" th:text="${ind_detal_level.list_full_value}"/>
                        <td class="rulematrixcell" th:each="ind_periods_type : ${ind_periods_types}"
                            th:data-level="${ind_detal_level.id}"
                            th:data-period ="${ind_periods_type.id}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" id="submitSaveListRuleBtn">Добавить</button>
            </div>
        </div>
    </div>
</div>

<!-- Save Rule Modal HTML -->
<div class="modal fade" id="saveRuleModal" tabindex="-1" role="dialog" aria-labelledby="saveRuleModalTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="saveRuleForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveRuleModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend col-3 p-0">
                            <label class="input-group-text col-12" for="id">ИД правила</label>
                        </div>
                        <input type="text" class="form-control" required="required" id="id" name="id" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend col-3 p-0">
                            <label class="input-group-text col-12" for="indid">ИД показателя</label>
                        </div>
                        <input type="text" class="form-control" required="required" id="indid" name="indid" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend col-3 p-0">
                            <label class="input-group-text col-12" for="ind_period_type_id">Тип периода</label>
                        </div>
                        <select class="custom-select" id="ind_period_type_id" name="ind_period_type_id" required="required">
                            <option th:each="ind_periods_type : ${ind_periods_types}"
                                    th:value="${ind_periods_type.id}"
                                    th:text="${ind_periods_type.list_full_value} + ' (' + ${ind_periods_type.list_short_value} + ')'"/>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend col-3 p-0">
                            <label class="input-group-text col-12" for="ind_detal_level_id">Уровень детализации</label>
                        </div>
                        <select class="custom-select" id="ind_detal_level_id" name="ind_detal_level_id" required="required">
                            <option th:each="ind_detal_level : ${ind_detal_levels}"
                                    th:value="${ind_detal_level.id}"
                                    th:text="${ind_detal_level.list_full_value}"/>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-success" id="submitSaveRuleBtn" value=""/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Err modal -->
<div class="modal fade" id="errModal" tabindex="-1" style="z-index: 1200" role="dialog" aria-labelledby="errModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errModalLabel">Ошибка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
             </div>
        </div>
    </div>
</div>

<!-- Delete Rule Modal HTML -->
<div class="modal fade" id="deleteRuleModal" tabindex="-1" role="dialog" aria-labelledby="deleteRuleModalTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="deleteRuleForm">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRuleModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы уверенны что хотите удалить запись?</p>
                <p class="warning">
                    <small>Это действие не сможет быть отменено</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <input type="submit" class="btn btn-danger" id="submitDelRuleBtn" value="Удалить"/>
                <input type="hidden" name="deleteRuleId" id="deleteRuleId">
            </div>
            </form>
        </div>
    </div>
</div>

        <!-- Save RuleScale Modal HTML -->
        <div class="modal fade" id="saveRuleScaleModal" tabindex="-1" role="dialog" aria-labelledby="saveRuleScaleModalTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <form id="saveRuleScaleForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="saveRuleScaleModalTitle">Редактор шкал</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="overflow-x: auto;">
                            <table class="table table-bordered table-sm">
                                <caption style="caption-side: top; text-align:right">
                                    <button class="btn btn-sm btn-outline-primary" role="button"><i class="fas fa-plus"></i></button>
                                </caption>
                                <thead class="thead-light">
                                <tr style="cursor: default;">
                                    <th scope="col">Дата</th>
                                    <th scope="col">Коцмин</th>
                                    <th scope="col">Квыпмин</th>
                                    <th scope="col">Коцнорм</th>
                                    <th scope="col">Квыпнорм</th>
                                    <th scope="col">Коцмакс</th>
                                    <th scope="col">Квыпмакс</th>
                                    <th scope="col">Коцмаксдин</th>
                                    <th scope="col">Квыпмаксдин</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td><input type="date" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<th:block th:include="frames/footer"></th:block>
</body>
</html>