<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/indscales}" th:object="${indscales}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>indid</th>
                <td><input type="number" name="indid" th:field="*{indid}" th:value="*{indid}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('indid')}" th:errors="*{indid}">Name Error</td>
            </tr>
            <tr>
                <th>scale_equality_boundary</th>
                <td><input type="text" name="scale_equality_boundary" th:field="*{scale_equality_boundary}" th:value="*{scale_equality_boundary}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('scale_equality_boundary')}" th:errors="*{scale_equality_boundary}">Name Error</td>
            </tr>
            <tr>
                <th>scale_min_value</th>
                <td><input type="text" name="scale_min_value" th:field="*{scale_min_value}" th:value="*{scale_min_value}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('scale_min_value')}" th:errors="*{scale_min_value}">Name Error</td>
            </tr>
            <tr>
                <th>scale_max_value</th>
                <td><input type="text" name="scale_max_value" th:field="*{scale_max_value}" th:value="*{scale_max_value}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('scale_max_value')}" th:errors="*{scale_max_value}">Name Error</td>
            </tr>
            <tr>
                <th>scale_result_value</th>
                <td><input type="text" name="scale_result_value" th:field="*{scale_result_value}" th:value="*{scale_result_value}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('scale_result_value')}" th:errors="*{scale_result_value}">Name Error</td>
            </tr>
            <tr>
                <th>start_date</th>
                <td><input type="date" name="start_date" th:field="*{start_date}" th:value="*{start_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}">Name Error</td>
            </tr>
            <tr>
                <th>finish_date</th>
                <td><input type="date" name="finish_date" th:field="*{finish_date}" th:value="*{finish_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('finish_date')}" th:errors="*{finish_date}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/indscales}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>