<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/levels}" th:object="${levels}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>listordernum</th>
                <td><input type="number" name="listordernum" th:field="*{listordernum}" th:value="*{listordernum}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('listordernum')}" th:errors="*{listordernum}">Name Error</td>
            </tr>
            <tr>
                <th>list_short_value</th>
                <td><input type="text" name="list_short_value" th:field="*{list_short_value}" th:value="*{list_short_value}" /></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('list_short_value')}" th:errors="*{list_short_value}">Name Error</td>
            </tr>
            <tr>
                <th>list_full_value</th>
                <td><input type="text" name="list_full_value" th:field="*{list_full_value}" th:value="*{list_full_value}" /></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('list_full_value')}" th:errors="*{list_full_value}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/levels}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>