<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/properties}" th:object="${properties}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>ind_rule_id</th>
                <td><input type="number" name="ind_rule_id" th:field="*{ind_rule_id}" th:value="*{ind_rule_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_rule_id')}" th:errors="*{ind_rule_id}">Name Error</td>
            </tr>
            <tr>
                <th>flg_is_kpi</th>
                <td><input type="number" name="flg_is_kpi" th:field="*{flg_is_kpi}" th:value="*{flg_is_kpi}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('flg_is_kpi')}" th:errors="*{flg_is_kpi}">Name Error</td>
            </tr>
            <tr>
                <th>flg_is_driver</th>
                <td><input type="number" name="flg_is_driver" th:field="*{flg_is_driver}" th:value="*{flg_is_driver}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('flg_is_driver')}" th:errors="*{flg_is_driver}">Name Error</td>
            </tr>
            <tr>
                <th>flg_is_ppr</th>
                <td><input type="number" name="flg_is_ppr" th:field="*{flg_is_ppr}" th:value="*{flg_is_ppr}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('flg_is_ppr')}" th:errors="*{flg_is_ppr}">Name Error</td>
            </tr>
            <tr>
                <th>flg_is_in_bussines_plan</th>
                <td><input type="number" name="flg_is_in_bussines_plan" th:field="*{flg_is_in_bussines_plan}" th:value="*{flg_is_in_bussines_plan}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('flg_is_in_bussines_plan')}" th:errors="*{flg_is_in_bussines_plan}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/properties}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>