<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/rules}" th:object="${rules}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>indid</th>
                <td><input type="number" name="indid" th:field="*{indid}" th:value="*{indid}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('indid')}" th:errors="*{indid}">Name Error</td>
            </tr>
            <tr>
                <th>ind_detal_level_id</th>
                <td><input type="number" name="ind_detal_level_id" th:field="*{ind_detal_level_id}" th:value="*{ind_detal_level_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_detal_level_id')}" th:errors="*{ind_detal_level_id}">Name Error</td>
            </tr>
            <tr>
                <th>ind_period_type_id</th>
                <td><input type="number" name="ind_period_type_id" th:field="*{ind_period_type_id}" th:value="*{ind_period_type_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_period_type_id')}" th:errors="*{ind_period_type_id}">Name Error</td>
            </tr>
            <tr>
                <th>start_date</th>
                <td><input type="date" name="start_date" th:field="*{start_date}" th:value="*{start_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}">Name Error</td>
            </tr>
            <tr>
                <th>finish_date</th>
                <td><input type="date" name="finish_date" th:field="*{finish_date}" th:value="*{finish_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('finish_date')}" th:errors="*{finish_date}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/rules}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>