<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/salesversions}" th:object="${salesversions}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>ind_rule_id</th>
                <td><input type="number" name="ind_rule_id" th:field="*{ind_rule_id}" th:value="*{ind_rule_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_rule_id')}" th:errors="*{ind_rule_id}">Name Error</td>
            </tr>
            <tr>
                <th>ind_date</th>
                <td><input type="date" name="ind_date" th:field="*{ind_date}" th:value="*{ind_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_date')}" th:errors="*{ind_date}">Name Error</td>
            </tr>
            <tr>
                <th>layer_id</th>
                <td><input type="number" name="layer_id" th:field="*{layer_id}" th:value="*{layer_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('layer_id')}" th:errors="*{layer_id}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/salesversions}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>