<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование </title>
    <th:block th:include="frames/bootstrap"></th:block>
</head>
<body>
<th:block th:include="frames/header"></th:block>
<div class="container-fluid mainframe">
    <h3 th:if="${id} ==null">Добавить</h3>
    <h3 th:if="${id} !=null">Изменить</h3>
    <form method="POST" th:action="@{/plans/scales}" th:object="${scales}">
        <table class="table table-sm col-5" style="margin: auto;">
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" th:field="*{id}" th:value="*{id}" readonly/></td>
            </tr>
            <tr>
                <th>ind_rule_id</th>
                <td><input type="number" name="ind_rule_id" th:field="*{ind_rule_id}" th:value="*{ind_rule_id}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('ind_rule_id')}" th:errors="*{ind_rule_id}">Name Error</td>
            </tr>
            <tr>
                <th>goal_scale_date</th>
                <td><input type="date" name="goal_scale_date" th:field="*{goal_scale_date}" th:value="*{goal_scale_date}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('goal_scale_date')}" th:errors="*{goal_scale_date}">Name Error</td>
            </tr>
            <tr>
                <th>k_estim_min</th>
                <td><input type="number" name="k_estim_min" step=".01" th:field="*{k_estim_min}" th:value="*{k_estim_min}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_estim_min')}" th:errors="*{k_estim_min}">Name Error</td>
            </tr>
            <tr>
                <th>k_exec_min</th>
                <td><input type="number" name="k_exec_min" step=".01" th:field="*{k_exec_min}" th:value="*{k_exec_min}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_exec_min')}" th:errors="*{k_exec_min}">Name Error</td>
            </tr>
            <tr>
                <th>k_estim_norm</th>
                <td><input type="number" name="k_estim_norm" step=".01" th:field="*{k_estim_norm}" th:value="*{k_estim_norm}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_estim_norm')}" th:errors="*{k_estim_norm}">Name Error</td>
            </tr>
            <tr>
                <th>k_exec_norm</th>
                <td><input type="number" name="k_exec_norm" step=".01" th:field="*{k_exec_norm}" th:value="*{k_exec_norm}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_exec_norm')}" th:errors="*{k_exec_norm}">Name Error</td>
            </tr>
            <tr>
                <th>k_estim_max</th>
                <td><input type="number" name="k_estim_max" step=".01" th:field="*{k_estim_max}" th:value="*{k_estim_max}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_estim_max')}" th:errors="*{k_estim_max}">Name Error</td>
            </tr>
            <tr>
                <th>k_exec_max</th>
                <td><input type="number" name="k_exec_max" step=".01" th:field="*{k_exec_max}" th:value="*{k_exec_max}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_exec_max')}" th:errors="*{k_exec_max}">Name Error</td>
            </tr>
            <tr>
                <th>k_exec_max_dyn</th>
                <td><input type="text" name="k_exec_max_dyn" th:field="*{k_exec_max_dyn}" th:value="*{k_exec_max_dyn}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_exec_max_dyn')}" th:errors="*{k_exec_max_dyn}">Name Error</td>
            </tr>
            <tr>
                <th>k_estim_max_dyn</th>
                <td><input type="text" name="k_estim_max_dyn" th:field="*{k_estim_max_dyn}" th:value="*{k_estim_max_dyn}"/></td>
                <td class="border-0 text-danger" th:if="${#fields.hasErrors('k_estim_max_dyn')}" th:errors="*{k_estim_max_dyn}">Name Error</td>
            </tr>
            <tr>
                <th>Права</th>
                <td>
                    <select th:field="*{unit.id}">
                        <option value="" disabled selected> Выберите роль </option>
                        <option th:each="unit : ${units}"
                                th:value="${unit.id}"
                                th:utext="${unit.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" th:if="${id} ==null" type="submit" value="Добавить" />
                    <input class="btn btn-success" th:if="${id} !=null" type="submit" value="Изменить" />
                    <a class="btn btn-outline-secondary" role="button" th:href="@{/plans/scales}">Отмена</a>
                </td>
            </tr>
        </table>
       </form>
</div>
<th:block th:include="frames/footer"></th:block>
</body>
</html>